{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What are the details of the person?
      </h1>

      <p class="govuk-caption-m">Enter any details you know about the person you are reporting.</p>

      <form class="form" action="second-person-involved" method="post">

        {{ govukInput({
          label: {
            text: "First name (if known)"
          },
          classes: "govuk-input--width-20",
          id: "tester-first-name",
          name: "testerFirstName",
          value: data['testerFirstName']
        }) }}
        {{ govukInput({
          label: {
            text: "Last name (if known)"
          },
          classes: "govuk-input--width-20",
          id: "tester-last-name",
          name: "testerLastName",
          value: data['testerLastName']
        }) }}
        {{ govukInput({
          label: {
            text: "Email address (if known)"
          },
          classes: "govuk-input--width-20",
          id: "tester-email",
          name: "tester-email",
          value: data['tester-email']
        }) }}
        {{ govukInput({
          label: {
            text: "Telephone number (if known)"
          },
          classes: "govuk-input--width-20",
          id: "tester-telephone-number",
          name: "testerTelephoneNumber",
          value: data['testerTelephoneNumber']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
