{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What are the details of the involved driving school?
      </h1>

      <p class="govuk-caption-m">Enter any details you know about the driving school.</p>

      <form class="form" action="vehicle-involved" method="post">

        {{ govukInput({
          label: {
            text: "Driving school name (if known)"
          },
          classes: "govuk-input--width-20",
          id: "school-name",
          name: "schoolName"
        }) }}
        {{ govukInput({
          label: {
            text: "Email address (if known)"
          },
          classes: "govuk-input--width-20",
          id: "email",
          name: "email"
        }) }}
        {{ govukInput({
          label: {
            text: "Telephone number (if known)"
          },
          classes: "govuk-input--width-20",
          id: "telephone-number",
          name: "telephoneNumber"
        }) }}
        
        <h2 class="govuk-heading-m">Driving school address</h2>
        <p class="govuk-caption-m">Type in address manually</p>
        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

            {{ govukCheckboxes({
             name: "driving-instructor-address",
             class: "driving-instructor-address",
             fieldset: {
               },
              items: [
                {
                 value: "driving-instructor-address",
                 text: "Same as illegal driving instructor address"
               }
              ]
            }) }}
        
        {{ govukInput({
          label: {
            text: "Building and Street (if known)"
          },
          id: "building",
          name: "building"
        }) }}
        {{ govukInput({
          label: {
            text: ""
          },
          id: "street",
          name: "street"
        }) }}
        {{ govukInput({
          label: {
            text: "Town or city (if known)"
          },
          classes: "govuk-input--width-20",
          id: "town-city",
          name: "townCity"
        }) }}
        {{ govukInput({
          label: {
            text: "Postcode (if known)"
          },
          classes: "govuk-input--width-10",
          id: "postcode",
          name: "postcode"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
