{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        How were payments made?
      </h1>

      <form class="form" action="location-involved" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "govuk/components/input/macro.njk" import govukInput %}


        {% set cardHtml %}
        <h2 class="govuk-heading-s">Details of the account the payment was made to</h2>
        {{ govukInput({
          id: "name",
          name: "name",
          type: "name",
          autocomplete: "name",
          spellcheck: false,
          classes: "govuk-input--width-20",
          label: {
            text: "Name on account (if known)"
          }
        }) }}
        {{ govukInput({
          id: "sort-code",
          name: "sortCode",
          type: "sortCode",
          autocomplete: "sortCode",
          spellcheck: false,
          classes: "govuk-input--width-10",
          label: {
            text: "Sort code (if known)"
          },
          hint: {
            text: "Must be 6 digits long"
          }
        }) }}
        {{ govukInput({
          id: "account-number",
          name: "accountNumber",
          type: "accountNumber",
          autocomplete: "accountNumber",
          spellcheck: false,
          classes: "govuk-input--width-10",
          label: {
            text: "Account number (if known)"
          },
          hint: {
            text: "Must be between 6 and 8 digits long"
          }
        }) }}
        {% endset -%}

        {{ govukCheckboxes({
          name: "payment",
          fieldset: {
            legend: {
              text: "Payment type",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "card",
              text: "Card",
              conditional: {
                html: cardHtml
              }
            },
            {
              value: "cash",
              text: "Cash"
            },
            {
              value: "cheque",
              text: "Cheque"
            },
            {
              value: "i don't know",
              text: "I don't know"
            }
          ]
        }) }}

        {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  id: "cost",
  name: "cost",
  label: {
    text: "Payment amount",
    classes: "govuk-label--s",
    isPageHeading: true
  },
  hint: {
    text: "If multiple payments were made provide the total amount."
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  spellcheck: false
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
