{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/MSU-provide-contact-details" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "MSU-provide-contact-details",
          value: data['provide-contact-details'],
          fieldset: {
            legend: {
              text: "Would you like to provide your contact details?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "We might use your contact details to ask for more information. You might also be asked to provide a statement, or act as a witness and appear in court."
          },
          items: [
            {
              value: "yes",
              text: "Yes, I want to provide my contact details"
            },
            {
              value: "no",
              text: "No, I want to remain anonymous"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
