{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    
    <h2 class="govuk-heading-m">Report an MOT test, tester or garage forms</h2>
    <p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/MOT/start" class="govuk-link">Report an MOT test,tester or garage</a></li>
        <li><a href="/MOT-(with-options)/start" class="govuk-link">Report an MOT test,tester or garage (with categories)</a></li>
      </ul>
    </p>
    <h2 class="govuk-heading-m">Report an illegal driving instructor forms</h2>
    <p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/driving-instructor/start" class="govuk-link">Report an illegal driving instructor</a></li>
        <li><a href="/driving-instructor(with-options)/start" class="govuk-link">Report an illegal driving instructor (with categories)</a></li>
      </ul>
    </p>
    <h2 class="govuk-heading-m">Report fradulent activity within a theory or practical driving test forms</h2>
    <p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/driving-test/start" class="govuk-link">Report fradulent activity within a theory or practical driving test</a></li>
        <li><a href="/driving-test(with-options)/start" class="govuk-link">Report fradulent activity within a theory or practical driving test (with categories)</a></li>
      </ul>
    </p>
    <h2 class="govuk-heading-m">Report a lorry or van driver or business forms</h2>
    <p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/lorry-van/lorry-van-start" class="govuk-link">Report a lorry or van driver or business</a></li>
        <li><a href="/lorry-van(with-options)/lorry-van-start" class="govuk-link">Report a lorry or van driver or business (with categories)</a></li>
      </ul>
    </p>
    <h2 class="govuk-heading-m">Report a coach or bus driver business forms</h2>
    <p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/lorry-van/bus-coach-start" class="govuk-link">Report a bus or coach driver or business</a></li>
        <li><a href="/lorry-van(with-options)/bus-coach-start" class="govuk-link">Report a bus or coach driver or business (with categories)</a></li>
      </ul>
    </p>
    <h2 class="govuk-heading-m">Report someone making or selling new, illegal vehicles or parts</h2>
    <p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/making-selling-illegal-vehicles-or-parts/start" class="govuk-link">Report someone making or selling new, illegal vehicles or parts</a></li>
      </ul>
    </p>
    <p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/making-selling-illegal-vehicles-or-parts(with-options)/start" class="govuk-link">Report someone making or selling new, illegal vehicles or parts (with categories)</a></li>
      </ul>
    </p>
    <h2 class="govuk-heading-m">Report to DVSA form</h2>
    <p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/Report-to-DVSA/start" class="govuk-link">Report to DVSA</a></li>
      </ul>
    </p>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
