{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/report-category-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "report-category",
  value: data['report-category'],
  fieldset: {
    legend: {
      text: "What do you want to report?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "An MOT test, tester or garage",
      text: "An MOT test, tester or garage"
    },
    {
      value: "Appeal an MOT test",
      text: "Appeal an MOT test",
      hint: {
        text: "Appeal an MOT test result if you think it's wrong, for example, if the vehicle failed its MOT and you think it should have passed."
      }
    },
    {
      value: "An illegal driving instructor",
      text: "An illegal driving instructor"
    },
    {
      value: "An approved driving instructor",
      text: "An approved driving instructor"
    },
    {
      value: "Fraudulent activity within a theory or practical driving test",
      text: "Fraudulent activity within a theory or practical driving test"
    },
    {
      value: "A lorry or van driver or business",
      text: "A lorry or van driver or business"
    },
    {
      value: "A coach or bus driver or business",
      text: "A coach or bus driver or business"
    },
    {
      value: "Someone making or selling illegal vehicles or parts",
      text: "Someone making or selling illegal vehicles or parts",
      hint: {
        text: "Must be in relation to a new vehicle, vehicle part, vehicle safety accessory (including aftermarket), or vehicle modification service"
      }
    },
    {
      value: "A safety defect with your vehicle, vehicle part or accessory",
      text: "A safety defect with your vehicle, vehicle part or accessory"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
