{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">
        Report fraudulent activity within a theory or practical driving test
      </h1>

      <p>Report someone who is pretending to be someone else to take a theory or driving test for them, or someone committing technically assisted fraud.</p>
      
      <p>It’s illegal to cheat at a driving or theory test by:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>using an impersonator to take the test for you</li>
        <li>impersonating a candidate and taking their test for them</li>
        <li>using technology to to cheat your test</li>
      </ul>

      <p>Impersonators and people who use them can be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>sent to prison</li>
        <li>banned from driving</li>
        <li>ordered to carry out unpaid work</li>
        <li>made to pay court costs</li>
      </ul>

      <h2 class="govuk-heading-m">Report fraudulent activity within a theory or practical driving test</h2>
      <p>Contact DVSA to report fraudulent activity within a driving test. You can do this anonymously (not giving your name) or give your details.</p>
      <p>Include as many of these details as possible:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>names and addresses of the people</li>
        <li>descriptions of what they look like</li>
        <li>dates and times</li>
        <li>where you found out about it, for example at a place or on social media</li>
      </ul>

      <h3 class="govuk-heading-s">Reporting something anonymously</h3>
      <p>If you report something anonymously:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you’ll never be asked for your name or to provide contact details</li>
        <li>your call will not be traced</li>
        <li>you will not have to make a statement or be called as a witness</li>
        <li>you will not have to appear in court</li>
      </ul>
     
      <h3 class="govuk-heading-s">If you do give your contact details</h3>
      <p>You can remain anonymous. However, if you give DVSA your contact details you might:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be contacted for more information</li>
        <li>be asked to provide a statement</li>
        <li>have to act as a witness and appear in court</li>
      </ul>

      <h3 class="govuk-heading-s">Report online</h3>
      <p>Report fraudulent activity within a theory or practical driving test using the online form.</p>

      {{ govukButton({
        text: "Start now",
        href: "data-protection",
        isStartButton: true
      }) }}

      <h3 class="govuk-heading-s">Alternatively, email or call the DVSA to report an illegal driving instructor</h3>
      <p>DVSA Intelligence Unit</br>
        <a href="#" class="govuk-link">enquiries@dvsa.gov.uk</a><br>
        Telephone: 0800 030 4103</br>
        Monday to Friday, 7:30am to 6pm</br>
        <a href="#" class="govuk-link">Find out about call charges</a></p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>DVSA will review the information and decide what to do next.</p>
      <p>This could include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>investigating the report further</li>
        <li>asking you for more information if you did not make the report anonymously</li>
        <li>working with other government departments and agencies or the police</li>
      </ul>

      <h2 class="govuk-heading-m">Getting feedback on what happened</h2>
      <p>If you ask DVSA to give you feedback on what happened with a criminal prosecution, you’ll get it when:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>any investigation and criminal or other official proceedings have ended</li>
        <li>a decision has been made if the person appeals against their verdict</li>
      </ul>
      <p>DVSA cannot give feedback on an ongoing case. Criminal investigations can take time.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Report an illegal driving instructor
              </a>
            </li>
            <li>
              <a href="#">
                Complain about a driving instructor
              </a>
            </li>
            <li>
              <a href="#">
                Report an MOT test,tester or garage
              </a>
            </li>
            <li>
              <a href="#">
                Report a coach or bus driver or business
              </a>
            </li>
            <li>
              <a href="#">
                Report a lorry or van driver or business
              </a>
            </li>
            <li>
              <a href="#">
                Report someone making or selling new illegal vehicles or parts
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
